<h1> This is the post#edit </h1>
	<%= @post.title %>
	by <%= User.find(@post.user_id).name %>
	<br>
	<br>

<!-- 
<textarea rows="40" cols="50">
	<%= @post.content %>
</textarea> -->

<%= form_for @post, url: posts_path(@post), method: :patch do |f| %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>


