<h1> This is the post#new </h1>




<%= form_for @post, url: posts_path(@post), method: :patch do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :category %>
    <%= f.collection_select :category %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>
